html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#7209b7, #3f37);
}
.contenedor {
    margin: 50px auto; 
    width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contenedor h1{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ghostwhite ;
    text-align: center;
}
.contenedor .elemento label{        
    color:ivory;
    font-style: italic;
    font-size: x-large;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: ivory;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(126, 133, 133);
    margin-bottom: 30px;
    font-size: large;
}
.contenedor .elemento input[type="submit"]{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:orchid;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}
.contenedor a{
    width: 100%;
    padding: 10px 0;
    color:ivory;
    font-size: larger;
    
}

