<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link   href = "/CSS/estilos.css" rel = "stylesheet"/>
	<link rel="stylesheet" href="https://fontawesome.com/releases/v5.0.8/css/solid.css">
	<script scr="https://fontawesome.com/releases/v5.0.7/js/all/js"></script>
    
</head>
<body>
    <div class ="contenedor">
       <div class="avatar"><img src = "imagenes/avatar.png" width=150px"></div>
        <div class="login-container">
            <div class="register">     
            <h1>Registrarse</h1>
            <form action="">
                <input type="text" placeholder="Nombre" class="nombre" required="true"/>
                <input type="text" placeholder="Correo" class="correo" required="true"/>
                <input type="password" placeholder="Contraseña" class="pass" required="true"/>
                <input type="password" placeholder="Confirmar Contraseña" class="repass" required="true"/>
                <input type="submit" class="submit" value="REGISTRARSE"/>
                <button class="Correo"><img src="imagenes/google.png" width="100px" />
            </form>
            </div>
            
            <div class="login">
                <h1>Ingresar</h1>
                    <form id = "forma" name="forma" method="POST">
                        <div class="elemento">
                            <br>
                            <br>
                             <input type="text" id="usuario" name="usuario" required="true" placeholder="Usuario"/>
                        </div>
                        <div class ="elemento">
                            <br>
                             <input type="password" id="password" name="password" required="true" placeholder="Contraseña"/>
                             <br>
                             <br>
                             <a href="">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class ="elemento">
                            <br>
                            <input type="submit" value="INGRESAR"/>
                            <button class="Correo" ><img src="imagenes/google.png" width="100px" />
                        </div> 
            </form>    
            </div>
        </div>
        </div>
    </div>
</body>
</html>